@tailwind base;
@tailwind components;
@tailwind utilities;
.hover:hover .color-hover {
  color: white;
  transition: all 0.3s;
}
body {
  background-color: #1c1c1e;
}

.text-color {
  color: #989898;
}

.active {
  border-right: 4px solid #5179ff;
}

.active:hover .text-color {
  color: #5179ff;
}

.active .text-color {
  color: #5179ff;
}

.isOutLine {
  display: flex;
  align-items: center;
  background-color: transparent;
  transition: all 0.3s;
  padding: 4px 12px;
  color: #989898;
  border: 1px solid #d1d5db;
  border-radius: 50px;
}

.unOutLine {
  display: flex;
  align-items: center;
  transition: all 0.3s;
  font-size: 16px;
  background-color: #333335;
  color: #989898;
  padding: 5px 16px;
  border-radius: 50px;
  gap: 12px;
}

.unOutLine:hover {
  background-color: #262628;
  color: #727272;
}

.main-content {
  width: 100%;
}

.hide-text-col {
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hide-text-row {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pagination {
  display: flex;
  color: white;
  gap: 10px;
}
.pagination li:hover,
.pagination li.selected {
  color: #5884ff;
}

@media only screen and (max-width: 508px) {
  .container-film-items {
    justify-content: center;
  }
}
